<h1>Listing corpus_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @corpus_items.each do |corpus_item| %>
  <tr>
    <td><%= corpus_item.title %></td>
    <td><%= corpus_item.year %></td>
    <td><%= corpus_item.corpus_name %></td>
    <td><%= link_to 'Show', corpus_item %></td>
    <td><%= link_to 'Edit', edit_corpus_item_path(corpus_item) %></td>
    <td><%= link_to 'Destroy', corpus_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Corpus item', new_corpus_item_path %>
