<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="/documents">HCSvLab</a>
  </div>
</div>


<%= render(:partial => 'search_form') %>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <div class="btn btn-inverse btn-mini">Python</div>
      </a>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <textarea class="span9"readonly="readonly" rows="6" cols="102"><%= get_python_query %></textarea>
        <div class="offset7">
          <a class="btn btn-inverse btn-mini" href="http://gsw1-hcsvlab-test2-vm.intersect.org.au:8080" target="_blank">Launch [IPy]</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pull-left">

<table class="table">
  <tr>
    <th>Corpus</th>
    <th>Sub-Corpus</th>
    <th>Item</th>
    <th>Year</th>
    <th>Type</th>
    <th>URL</th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.corpus_item.corpus_name %></td>
    <td><%= document.corpus_item.sub_corpus_name%></td>
    <td><%= document.corpus_item.title%></td>
    <td><%= document.corpus_item.year %></td>
    <td><%= document.media_type %></td>
    <td><%= document.url %></td>
  </tr>
<% end %>
</table>
</div>
